@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


*{
	margin:0;
	padding:0;
}

.phone{
	padding-top:70px;
	height: 650px;
	float:right;
	margin:10px;
}

body{
	background-color: #fafafa!important;
}

.signup{
	margin-top: 20px;
}

.mid-column
{
	background: #fff;
	border: 1px solid #e6e6e6;
	width:380px;
	margin:20px;
	margin-left:370px;
	
	padding:40px;
}

.instagram-logo
{
	margin:15px auto;
}

.info {
	font-weight:700px;
	line-height: 20px;
	font-size: 17px;
	color:#999;
	font-family: 'Noto Sans', sans-serif;
}

button img{
	height:22px !important;
	padding:0 8px 2px;
}

.or {
	font-size:15px!important;
	color:#999;
	font-weight: 600;
}

.or::before
{
	content:'';
	background:#efefef;
	display:block;
	height:2px;
	width:130px;
	position:relative;
	top:13px;
}

.or::after
{
	content:'';
	background:#efefef;
	display:block;
	height:2px;
	width:130px;
	position:relative;
	bottom:11px;
	left:165px;
}

.form-group{
	margin-bottom:6px!important;
}
.form-control{
	background:#fafafa!important;
	border:1px solid #efefef!important;
	font-size: 14px !important;
	
}

::placeholder
{
	color:#999!important;
}

.btn
{
	margin:12px auto;
	padding:2px!important;
	font-weight:600!important;
}

.btn-primary{
	background-color:#3897f0!important;
	border:1px solid #3897f0!important;
}

  .content ul{
	list-style:none;
	text-align:center;
	margin-bottom: 10px;
}
 .content ul li{
	 font-size:14px;
	display:inline;
	color:#8e9096;
}

 .content ul li a{
	  font-size:14px;
	text-decoration:none;
	font-weight:600;
	color:#707777;
}

.mid-column-login{
	background: #fff;
	border: 1px solid #e6e6e6;
	width:380px;
	height:80px;
	display:flex;
	flex-direction: column;margin:10px;
	position:relative;
	top:-7px;
	margin-left:370px;
	padding:27px;
}

.mid-column-login p > a {
	text-decoration:none;
	color:#00a0f7;
}



.app-text{
	font-size:14px !important;
	color:#000;
	font-weight: 400;
	margin:10px;
	padding:20px;
	position:relative;
	bottom:15px;
	left:475px;
}

 .apps{
	position:relative;
	margin-top:-25px;
	left:430px;
	cursor:pointer;
	
}

.footer{
	bottom:0;
	height:25px;
	margin-top:60px;
	
}

.footer ul{
	text-align:center;
}

.footer ul li {
	display:inline;
	margin-right:15px;
}

.footer ul li a{
	text-decoration:none;
	font-size: 12px;
	color:#999!important;
}

.footer p{
	margin:10px 0;
	text-align:center;
	color: #8e9096;
	font-size:14px;
	
}

.footer .service {
	padding:15px;
}
